* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
  min-height: 100%;
  height: 100%;
}

#root, [data-reactroot], [data-react]>div{
  height: 100%;
}


.myRow {
  min-height: 86vh;
  display: flex;
  flex: 1;

}

.sidemenu {
  flex: 0 0 20vw;
  order: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(200, 200, 200);
}

.content {
  background-color: rgb(255, 255, 255);
  flex: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: .2rem;
}


nav {
  height: 7vh; 
  background-color: rgb(110, 238, 93);
  box-shadow: 0 2px 4px rgb(129, 129, 129);
}

footer{
  height: 7vh;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mailList {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mailpreview {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 2rem;
}

li:last-child {
  border: none;
}

.centered-Content {
  height: 100%;
  flex:1;
  display: flex;
  justify-content: center;
}

.col-3 {
  display: flex;
  justify-content: space-between;
}

.col-3 > div {
  width: 30%;
}

p{
  text-align: justify;
}

/* MATERIALIZE CUSTOMIZATIONS */

.page-footer .footer-copyright {
  text-align: center;
}

.collection {
  margin-top: .2rem;
  border: 0;
}

.collection .collection-item.active {
  background-color: #81C784;
  color: #fff;
}

.collection .collection-item {
  line-height: 3rem;
}

.collection .collection-item:hover {
  line-height: 3rem;
  cursor: pointer;
}

.btn {
  margin-right: 15px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form > div {
  flex: 0 0 48%;
}
